[submodule "librime"]
	path = librime
	url = https://github.com/groverlynn/librime.git
	ignore = dirty
	branch = test
[submodule "plum"]
	path = plum
	url = https://github.com/rime/plum.git
	ignore = dirty
