Squirrel.xcodeproj/*.mode1v3
Squirrel.xcodeproj/*.pbxuser
Squirrel.xcodeproj/project.xcworkspace/
Squirrel.xcodeproj/xcuserdata/
build/
build.log
bin/*
lib/*
data/opencc/
data/plum/
package/Squirrel.pkg
package/archives/*
package/sign/*.pem
package/test-*
*~
.*.swp
.DS_Store
