[submodule "librime"]
	path = librime
	url = https://github.com/groverlynn/librime.git
	branch = test
[submodule "plum"]
	path = plum
	url = https://github.com/groverlynn/plum.git
	branch = test
[submodule "Sparkle"]
	path = Sparkle
	url = https://github.com/sparkle-project/Sparkle
	branch = 2.x
