ThoanTaigi.xcodeproj/*.mode1v3
ThoanTaigi.xcodeproj/*.pbxuser
ThoanTaigi.xcodeproj/project.xcworkspace/
ThoanTaigi.xcodeproj/xcuserdata/
build/
build.log
bin/*
lib/*
data/opencc/
data/plum/
package/ThoanTaigi.pkg
package/archives/*
package/sign/*.pem
package/test-*
*~
.*.swp
.DS_Store
