<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Squirrel</string>
	<key>CFBundleIconFile</key>
	<string>zhung.png</string>
	<key>CFBundleIdentifier</key>
	<string>com.googlecode.rimeime.inputmethod.Squirrel</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Squirrel</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.9.4</string>
	<key>InputMethodConnectionName</key>
	<string>Squirrel_1_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>SquirrelInputController</string>
	<key>InputMethodServerDelegateClass</key>
	<string>SquirrelInputController</string>
	<key>LSBackgroundOnly</key>
	<false/>
	<key>LSUIElement</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Hans</string>
		<string>Hant</string>
	</array>
	<key>tsInputMethodIconFileKey</key>
	<string>rime.icns</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>SUFeedURL</key>
	<string>http://rimeime.googlecode.com/svn/trunk/squirrel/update/appcast.xml</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
</dict>
</plist>
