<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string>menubar18.png</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.14.0</string>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>tw.ithoan.inputmethod.ThoanTaigi</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>tw.ithoan.inputmethod.ThoanTaigi.Rime</string>
				<key>TISIntendedLanguage</key>
				<string>zh-Hant</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>menubar18.png</string>
				<key>tsInputModeCharacterRepertoireKey</key>
				<array>
					<string>zh-Hans</string>
					<string>zh-Hant</string>
				</array>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>4608</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>menubar18.png</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>menubar18.png</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smUnicodeScript</string>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>tw.ithoan.inputmethod.ThoanTaigi.Rime</string>
		</array>
	</dict>
	<key>InputMethodConnectionName</key>
	<string>ThoanTaigi_1_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>SquirrelInputController</string>
	<key>InputMethodServerDelegateClass</key>
	<string>SquirrelInputController</string>
	<key>LSBackgroundOnly</key>
	<false/>
	<key>LSUIElement</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSRequiresAquaSystemAppearance</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string></string>
	<key>SUPublicDSAKeyFile</key>
	<string></string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>zh-Hans</string>
		<string>zh-Hant</string>
	</array>
	<key>tsInputMethodIconFileKey</key>
	<string>menubar18.png</string>
</dict>
</plist>
