{
  "package": {
    "name": "{{package_name}}",
    "repo": "squirrel",
    "subject": "rime",
    "vcs_url": "https://github.com/rime/squirrel.git",
    "licenses": ["GPL-3.0"]
  },
  "version": {
    "name": "{{version_name}}",
    "desc": "{{version_desc}}"
  },
  "files": [
    { "includePattern": "package/archives/(.*\\.zip)", "uploadPattern": "/$1" }
  ],
  "publish": {{publish}}
}
